<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
  <bean id="studentOne" class="com.ztt.spring.pojo.Student" ></bean>
  <bean id="studentTwo" class="com.ztt.spring.pojo.Student">
    <property name="sid" value="1001"></property>
    <property name="sname" value="张三"></property>
    <property name="age" value="18"></property>
    <property name="gender" value="男"></property>
  </bean>
  <bean id="studentThree" class="com.ztt.spring.pojo.Student">
    <constructor-arg value="1001"></constructor-arg>
    <constructor-arg value="张三"></constructor-arg>
    <constructor-arg value="18"></constructor-arg>
    <constructor-arg value="男"></constructor-arg>
  </bean>
  <bean id="studentFour" class="com.ztt.spring.pojo.Student">
    <constructor-arg value="1001"></constructor-arg>
    <constructor-arg >
      <value><![CDATA[<张三>]]></value>
    </constructor-arg>
    <constructor-arg value="18"></constructor-arg>
    <constructor-arg value="男"></constructor-arg>
  </bean>
  <bean id="studentFive" class="com.ztt.spring.pojo.Student">
    <property name="sid" value="1001"></property>
    <property name="sname" value="张三"></property>
    <property name="age" value="18"></property>
    <property name="gender" value="男"></property>
    <!--ref:引用IOC容器中的某个bean的id-->
   <!-- <property name="clazz" ref="clazzOne"></property>
    <property name="clazz.cid" value="1112"></property>
    <property name="clazz.cname" value="二班"></property>-->
    <property name="clazz">
      <bean id="clazzInner" class="com.ztt.spring.pojo.Clazz">
        <property name="cid" value="1112"></property>
        <property name="cname" value="二班"></property>
      </bean>
    </property>
    <property name="hobby">
      <array>
        <value>抽烟</value>
        <value>喝酒</value>
        <value>打牌</value>
        <value>运动</value>
        <value>打游戏</value>
        <value>睡觉</value>
      </array>
    </property>
    <!--<property name="teacherMap">
      <map>
        <entry key="10086" value-ref="teacherOne"></entry>
        <entry key="10010" value-ref="teacherTwo"></entry>
      </map>
    </property>-->
    <property name="teacherMap" ref="teacherMap"></property>
  </bean>
  <bean id="clazzOne" class="com.ztt.spring.pojo.Clazz">
    <property name="cid" value="1111"></property>
    <property name="cname" value="一班"></property>
    <property name="students" ref="studentList"></property>
  </bean>
  <bean id="teacherOne" class="com.ztt.spring.pojo.Teacher">
      <property name="tid" value="10086"></property>
    <property name="tname" value="小李"></property>
  </bean>
  <bean id="teacherTwo" class="com.ztt.spring.pojo.Teacher">
    <property name="tid" value="10010"></property>
    <property name="tname" value="小张"></property>
  </bean>
  <util:list id="studentList">
    <ref bean="studentOne"></ref>
    <ref bean="studentTwo"></ref>
    <ref bean="studentThree"></ref>
  </util:list>
  <util:map id="teacherMap">
    <entry key="10086" value-ref="teacherOne"></entry>
    <entry key="10010" value-ref="teacherTwo"></entry>
  </util:map>
  <bean id="studentSix" class="com.ztt.spring.pojo.Student"
  p:sid="1002" p:sname="小明" p:teacherMap-ref="teacherMap"></bean>
</beans>