<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/test/hello}">1</a>
<br>
<a th:href="@{/test/abc}">2</a>
<form th:action="@{/test/hello}" method="post">
    <input type="submit" value="3">
</form>
<a th:href="@{/test/hello?username=admin}">4</a>
<a th:href="@{/test/rest/1}">5</a>
<hr>
<form th:action="@{/param/pojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="登录"><br>
</form>
<hr>
<a th:href="@{/test/mav}">测试通过ModelAndView向请求域共享数据</a>
<a th:href="@{/test/model}">测试通过ModelAndView向请求域共享数据</a>
<a th:href="@{/test/modelMap}">测试通过ModelAndView向请求域共享数据</a>
</body>
</html>